@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
  font-family: "WorkSans";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: "WorkSans";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/WorkSans-Bold.ttf");
}

.button {
  @apply text-default-brand dark:text-darkMode-brand;
}
